@media (min-width: 320px) and (max-width: 576px) {
    .brand-row{
        margin: 0px;
        padding: 0px;
    }

    .img-brand{
    height: 85px;
    width:105px;
   
}

div:has(> .img-brand) {
   padding: 20px;
}
}

.text-1{
    color: rgba(0, 0, 0, 0.437);
}
.text-2{
    color: #F35410;
}
.img-brand{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444) ;
    transition:box-shadow .4s ease ;
}
.main-head{
    font-size: 50px;
}
.img-brand:hover{
    
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444) inset
}